body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .2rem;
    line-height: 1.5;
    background: rgba(238, 238, 238, 1.00);
    color: #00458dff;
    transition: .5s ease-in-out;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    max-width: 100%;
    max-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 100%;
}

input[type='radio'] {
    width: 0;
    height: 0;
    visibility: hidden;
}

.slider__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    font-weight: bold;
    overflow: hidden;
}

.bar__container {
    display: flex;
    gap: 5px;
    justify-content: end;
}

h1 {
    text-align: left;
    padding: 1rem 0 1.25rem;
    font-size: 2rem;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    padding: 1rem;
}

.item-checked {
    display: none;
    padding: .5rem;
}

.item {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    display: none;
}

.item > img {
    height: 400px;
}

input {
    cursor: pointer;
    height: 50px;
}

.item-radio {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.item-radio:hover {
    background-color: lightgray;
    transition: .5s ease-in-out;
}



input#one:checked ~ .one,
input#two:checked ~ .two,
input#three:checked ~ .three,
input#four:checked ~ .four,
input#five:checked ~ .five,
input#six:checked ~ .six {
    display: block;
    animation-duration: 3s;
    animation-name: slow;
}

@keyframes slow {
    from {
        margin-left: 50%;
        width: 110%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@media screen and (min-width: 1920px) {
    body {
        font-size: 1.75rem;
    }

    h1 {
        font-size: 2.75rem;
    }
}

@media screen and (min-width: 820px) {
    body {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 2.25rem;
    }
}

@media screen and (min-width: 320px) {
    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.8rem;
    }
}




